{% extends "learning_logs/base.html" %}

{% block page_header %}
  <div class="jumbotron">
    <h1 class="display-3">Track your learning.</h1>

    <p class="lead">Hii there, Welcome to learning log here you can make your own learning log where
        you can maintain a list of topics you are learning about on daily basis by making daily entries
        related to your topics, and hence summarizing what you have learned about.</p>

    <a class="btn btn-lg btn-primary" href="{% url 'users:register' %}"
        role="button">Register &raquo;</a>

  </div>

{% endblock page_header %} 
